# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# IDE
.idea
.vscode
*.swp
*.swo

# Database (for local development)
prisma/dev.db
prisma/dev.db-journal

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
